# dependencies
node_modules/
yarn.lock
pnpm-lock.yaml

# build output
.astro/

# environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
source-media/
